.canales-contacto-container {
    padding: 1rem;
    background-color: #fefefe;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
}

.texto-contacto {
    font-size: 1rem;
    color: #444;
    line-height: 1.6;
}

.pie-chart-container {
    width: 100%;
    height: 300px;
    margin-top: 1rem;
}

.recharts-legend-wrapper {
    font-size: 14px;
}

.section-title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
