/* CanalOrigenClientes.css */

.section-title {
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.panel-card {
    background-color: white;
    padding: 1.5rem;
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.recharts-tooltip-label {
    font-weight: bold;
}