/* src/components/superadmin/AuditTable.css */

.audit-table {
    margin-top: 20px;
    overflow-x: auto;
}

.audit-table table {
    width: 100%;
    border-collapse: collapse;
}

.audit-table th,
.audit-table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    cursor: pointer;
}

.audit-table th:hover {
    background-color: #f2f2f2;
}

.audit-table th {
    background-color: #007bff;
    color: white;
}
