/* =============================
   SIDEBAR CONTENEDOR
============================= */
.superadmin-sidebar {
    width: 260px;
    min-height: 100vh;
    background: #ffffff;
    border-right: 1px solid #ffffff;
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
}

/* =============================
   HEADER
============================= */
.sidebar-header {
    text-align: center;
    margin-bottom: 32px;
}

.sidebar-header h2 {
    font-size: 20px;
    font-weight: 800;
    color: #dc2626;
    margin-bottom: 6px;
}

.sidebar-header span {
    font-size: 13px;
    color: #000000;
}

/* =============================
   MENU
============================= */
.sidebar-menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* =============================
   ITEM BASE
============================= */
.sidebar-item {
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;

    color: #f6d4cc;
    background: rgb(85, 82, 82); /*cada cuadro*/

    transition: all 0.25s ease;
}

/* =============================
   HOVER
============================= */
.sidebar-item:hover {
    background: #fee2e2;
    color: #b91c1c;
}

/* =============================
   ACTIVO
============================= */
.sidebar-item.active {
    background: #dc2626;
    color: #ffffff;
    box-shadow: 0 6px 16px rgba(9, 9, 9, 0.35);
}

/* =============================
   DESHABILITADO
============================= */
.sidebar-item.disabled {
    background: #f1f5f9;
    color: #000000;
    cursor: not-allowed;
}
